.hero {
    font-family: 'TTFors-Bold';
    font-size: 36;
    line-height: 48;
    font-weight: 700;
}
.largeTitle {
    font-family: 'TTFors-Bold';
    font-size: 32;
    line-height: 40;
    font-weight: 700;
}
.headline1 {
    font-family: 'TTFors-DemiBold';
    font-size: 24;
    line-height: 28;
    font-weight: '600';
}
.headline2 {
    font-family: 'TTFors-DemiBold';
    font-size: 18;
    line-height: 25;
    font-weight: '600';
}
.headline3 {
    font-family: 'TTFors-Medium';
    font-size: 16;
    line-height: 20;
    font-weight: '500';
}
.body1 {
    font-family: 'TTFors-Regular';
    font-size: 16;
    line-height: 22;
    font-weight: '400';
}
.body2 {
    font-family: 'TTFors-Regular';
    font-size: 14;
    line-height: 20;
    font-weight: '400';
}
.body3 {
    font-family: 'TTFors-Regular';
    font-size: 12;
    line-height: 16;
    font-weight: '400';
}
.button1 {
    font-family: 'TTFors-DemiBold';
    font-size: 16;
    line-height: 23;
    font-weight: '600';
}
.button2 {
    font-family: 'TTFors-DemiBold';
    font-size: 14;
    line-height: 20;
    font-weight: '600';
}
.button3 {
    font-family: 'TTFors-DemiBold';
    font-size: 12;
    line-height: 16;
    font-weight: '600';
}
.caption {
    font-family: 'TTFors-DemiBold';
    font-size: 12;
    line-height: 16;
    font-weight: '600';
    letter-spacing: 1.4;
    text-transform: 'uppercase';
}
.tag {
    font-family: 'TTFors-DemiBold';
    font-size: 10;
    line-height: 12;
    font-weight: '600';
    letter-spacing: 0.2;
}
.handWritten {
    font-family: 'CaveatBrush-Regular';
    size: 20;
    line-height: 20;
}